@charset "utf-8";
body {
	background-color: #D6EBDD;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
h1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 32px;
	font-weight: bold;
	color: #304343;
	text-align: center;
}
h2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #668E8E;
}




.masterdivstyle {
	background-color: #F3F3F3;
	padding: 5px;
	border: 2px solid #486464;
	/* [disabled]border-radius: 20px; */
	margin: 10px;
	text-align: left;
	border-image-width: 3px;
}
.ImageTitle {
	font-weight: bold;
}
